#footer{
  background: var(--color-primary);
  padding: 5rem 0;
}

.footer-container{
  text-align: center;
  width: 100%;
}

.footer-container a{
  color: var(--color-white);
  font-weight: bold;
  font-size: 24px;
  transition: 400ms;
  width: 100%;
}
.footer-container a:hover{
  color: var(--color-bg);
}

.footer-container h3{
  font-size: 18px;
  margin-top: 2rem;
  width: 1005;
}